# Modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import vincent as vin
import seaborn as sb

Importing modules recommended by Project
http://labrosa.ee.columbia.edu/millionsong/sites/default/files/tutorial1.py.txt

In [2]:
import os
import sys
import time
import glob
import datetime
import sqlite3

# Upload data sets

## HDF5 10,000 song subset

http://labrosa.ee.columbia.edu/millionsong/pages/getting-dataset#subset
https://aws.amazon.com/datasets/million-song-dataset/

In [4]:
import pandas as pd #as alias pd
import numpy as nm
import sys
sys.path.append('/Users/juliaengel-dagher/Downloads/MSongsDB/PythonSrc')

In [5]:
!pip install h5py

Requirement already satisfied (use --upgrade to upgrade): h5py in /anaconda/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.6.1 in /anaconda/lib/python2.7/site-packages (from h5py)
Requirement already satisfied (use --upgrade to upgrade): six in /anaconda/lib/python2.7/site-packages (from h5py)
You are using pip version 7.1.2, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
#Data Load
#the files are in h5 format 
import hdf5_utils as HDF5
import hdf5_getters as g
#h5 = HDF5.open_h5_file_read('/Users/juliaengel-dagher/Downloads/TRBAADN128F426B7A4.h5')

need pg module and MBrainzDB folder of Python source code if you
want to use musicbrainz related functions, e.g. fill_hdf5_from_musicbrainz

In [7]:
#all of the methods to get song metadata
filter(lambda x: x[:3] == 'get',HDF5.__dict__.keys())

['get_danceability',
 'get_audio_md5',
 'get_segments_timbre',
 'get_artist_longitude',
 'get_artist_id',
 'get_similar_artists',
 'get_key',
 'get_artist_playmeid',
 'get_time_signature_confidence',
 'get_track_7digitalid',
 'get_artist_terms',
 'get_segments_loudness_max',
 'get_artist_mbtags_count',
 'get_tempo',
 'get_release',
 'get_artist_hotttnesss',
 'get_beats_start',
 'get_sections_start',
 'get_artist_7digitalid',
 'get_segments_loudness_max_time',
 'get_mode',
 'get_segments_pitches',
 'get_year',
 'get_key_confidence',
 'get_bars_start',
 'get_segments_confidence',
 'get_start_of_fade_out',
 'get_song_id',
 'get_time_signature',
 'get_artist_familiarity',
 'get_end_of_fade_in',
 'get_sections_confidence',
 'get_artist_terms_freq',
 'get_mode_confidence',
 'get_song_hotttnesss',
 'get_artist_name',
 'get_artist_mbtags',
 'get_analysis_sample_rate',
 'get_artist_location',
 'get_bars_confidence',
 'get_artist_terms_weight',
 'get_track_id',
 'get_num_songs',
 'get_title',
 'get_beats_confidence',
 'get_tatums_start',
 'get_artist_mbid',
 'get_loudness',
 'get_segments_loudness_start',
 'get_energy',
 'get_segments_start',
 'get_duration',
 'get_release_7digitalid',
 'get_tatums_confidence',
 'get_artist_latitude']

In [8]:
import glob
files = glob.glob('/Users/juliaengel-dagher/Downloads/MillionSongSubset/data/*/*/*/*.h5')

In [9]:
len(files)

10000

Artist Info

In [10]:
% time
artist_names = []
artist_familiarty = []
artist_hotness = []
artist_id = []
artist_latitude = []
artist_longitude = []
artist_location = []
song_id = []

for f in files:
    
    h5 = HDF5.open_h5_file_read(f)
    
    artist_name = g.get_artist_name(h5)
    artist_familar = g.get_artist_familiarity(h5)
    artist_hot = g.get_artist_hotttnesss(h5)
    artist_ids = g.get_artist_id(h5)
    artist_lat = g.get_artist_latitude(h5)
    artist_long = g.get_artist_longitude(h5)
    artist_loc = g.get_artist_location(h5)
    song_idss = g.get_song_id(h5)
    
    artist_names.append(artist_name)
    artist_familiarty.append(artist_familar)
    artist_hotness.append(artist_hot)
    artist_id.append(artist_ids)
    artist_latitude.append(artist_lat)
    artist_longitude.append(artist_long)
    artist_location.append(artist_loc)
    song_id.append(song_idss)
    
    h5.close()

CPU times: user 3 µs, sys: 2 µs, total: 5 µs
Wall time: 5.96 µs

In [11]:
data_artist = {'song_id':song_id
        ,'artist_names':artist_names
        ,'artist_familiarty':artist_familiarty
        ,'artist_hotness':artist_hotness
        ,'artist_latitude':artist_latitude
        ,'artist_longitude':artist_longitude
        ,'artist_location':artist_location
        ,'artist_id':artist_id
       }

In [12]:
artist_df=pd.DataFrame(data_artist)

In [13]:
len(artist_df)

10000

In [14]:
artist_df.head()

,artist_familiarty,artist_hotness,artist_id,artist_latitude,artist_location,artist_longitude,artist_names,song_id
0,0.581794,0.401998,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,SOMZWCG12A8C13C480
1,0.630630,0.417500,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,SOCIWDW12A8C13D406
2,0.487357,0.343428,ARKRRTF1187B9984DA,NaN,,NaN,Sonora Santanera,SOXVLOJ12AB0189215
3,0.630382,0.454231,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,SONHOTT12A8C13493C
4,0.651046,0.401724,ARXR32B1187FB57099,NaN,,NaN,Gob,SOFSOCN12A8C143F5D

Basic Song Information

In [15]:
%time
song_id = []
song_titles =[]
song_durations =[]
song_release_year =[]
song_hotness  =[]
track_id =[]

for f in files:
    
    h5 = HDF5.open_h5_file_read(f)
    
    song_idss = g.get_song_id(h5)
    song_title = g.get_title(h5)
    song_duration = g.get_duration(h5)
    song_release_years = g.get_year(h5)
    song_hot = g.get_song_hotttnesss (h5)
    track_idss = g.get_track_id(h5)
    
    song_id.append(song_idss)
    song_titles.append(song_title)
    song_durations.append(song_duration)
    song_release_year.append(song_release_years)
    song_hotness.append(song_hot)
    track_id.append(track_idss)
    
    h5.close()

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.01 µs

In [16]:
data_song = {'song_id':song_id
        ,'track_id':track_id
        ,'song_titles':song_titles
        ,'song_durations':song_durations
        ,'song_release_years':song_release_year
        ,'song_hotness':song_hotness
       }

In [17]:
song_df=pd.DataFrame(data_song)

In [18]:
len(song_df)

10000

In [19]:
song_df.head()

,song_durations,song_hotness,song_id,song_release_years,song_titles,track_id
0,218.93179,0.602120,SOMZWCG12A8C13C480,0,I Didn't Mean To,TRAAAAW128F429D538
1,148.03546,NaN,SOCIWDW12A8C13D406,1969,Soul Deep,TRAAABD128F429CF47
2,177.47546,NaN,SOXVLOJ12AB0189215,0,Amor De Cabaret,TRAAADZ128F9348C2E
3,233.40363,NaN,SONHOTT12A8C13493C,1982,Something Girls,TRAAAEF128F4273421
4,209.60608,0.604501,SOFSOCN12A8C143F5D,2007,Face the Ashes,TRAAAFD128F92F423A

More Elaborate Song Information

In [20]:
% time
song_tempo = []
song_bars =[]
song_beats = []
song_time_signatures =[]
song_tatum =[]
song_modes=[]
song_keys=[]
song_id = []


for f in files:
    
    h5 = HDF5.open_h5_file_read(f)
    
    song_speed = g.get_tempo(h5)
    song_bar = g.get_bars_start(h5)
    song_beat = g.get_beats_start(h5)
    song_time_signature = g.get_time_signature(h5)
    song_tat = g.get_tatums_start(h5)
    song_mode = g.get_mode(h5)
    song_key = g.get_key(h5)
    song_idss = g.get_song_id(h5)
    
    song_tempo.append(song_speed)
    song_bars.append(song_bar)
    song_beats.append(song_beat)
    song_time_signatures.append(song_time_signature)
    song_tatum.append(song_tat)
    song_modes.append(song_mode)
    song_keys.append(song_key)
    song_id.append(song_idss)
    
    h5.close()

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.96 µs

In [22]:
data_song_more = {'song_id':song_id
        ,'song_tempo':song_tempo
        ,'song_bars':song_bars
        ,'song_beats':song_beats
        ,'song_time_signatures':song_time_signatures
        ,'song_tatum':song_tatum
        ,'song_modes':song_modes
        ,'song_keys':song_keys
       }

In [23]:
song_more_df=pd.DataFrame(data_song_more)

In [24]:
len(song_more_df)

10000

In [25]:
song_more_df.head()

,song_bars,song_beats,song_id,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures
0,"[0.58521, 2.94247, 5.14371, 7.74554, 10.36149,...","[0.58521, 1.19196, 1.78893, 2.37813, 2.94247, ...",SOMZWCG12A8C13C480,1,0,"[0.28519, 0.58521, 0.89422, 1.19196, 1.49119, ...",92.198,4
1,"[0.71054, 2.71502, 4.70861, 6.69288, 8.66941, ...","[0.20627, 0.71054, 1.21836, 1.71841, 2.21729, ...",SOCIWDW12A8C13D406,6,0,"[0.20627, 0.45904, 0.71054, 0.96834, 1.21836, ...",121.274,4
2,"[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....","[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....",SOXVLOJ12AB0189215,8,1,"[0.42132, 0.73152, 1.06609, 1.39732, 1.72854, ...",100.070,1
3,"[1.30621, 3.29887, 5.30252, 7.32327, 9.33775, ...","[0.81002, 1.30621, 1.80617, 2.2996, 2.80049, 3...",SONHOTT12A8C13493C,0,1,"[0.56254, 0.81002, 1.05749, 1.30621, 1.55494, ...",119.293,4
4,"[1.06368, 2.91491, 4.76729, 6.61852, 8.46978, ...","[0.13576, 0.59914, 1.06368, 1.52591, 1.99045, ...",SOFSOCN12A8C143F5D,2,1,"[0.13576, 0.36918, 0.59914, 0.83141, 1.06368, ...",129.738,4

Merge the three datasets together

In [26]:
all_song_df = song_df.merge(song_more_df, on='song_id')

In [27]:
len(all_song_df)

10000

In [28]:
all_song_df.head()

,song_durations,song_hotness,song_id,song_release_years,song_titles,track_id,song_bars,song_beats,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures
0,218.93179,0.602120,SOMZWCG12A8C13C480,0,I Didn't Mean To,TRAAAAW128F429D538,"[0.58521, 2.94247, 5.14371, 7.74554, 10.36149,...","[0.58521, 1.19196, 1.78893, 2.37813, 2.94247, ...",1,0,"[0.28519, 0.58521, 0.89422, 1.19196, 1.49119, ...",92.198,4
1,148.03546,NaN,SOCIWDW12A8C13D406,1969,Soul Deep,TRAAABD128F429CF47,"[0.71054, 2.71502, 4.70861, 6.69288, 8.66941, ...","[0.20627, 0.71054, 1.21836, 1.71841, 2.21729, ...",6,0,"[0.20627, 0.45904, 0.71054, 0.96834, 1.21836, ...",121.274,4
2,177.47546,NaN,SOXVLOJ12AB0189215,0,Amor De Cabaret,TRAAADZ128F9348C2E,"[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....","[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....",8,1,"[0.42132, 0.73152, 1.06609, 1.39732, 1.72854, ...",100.070,1
3,233.40363,NaN,SONHOTT12A8C13493C,1982,Something Girls,TRAAAEF128F4273421,"[1.30621, 3.29887, 5.30252, 7.32327, 9.33775, ...","[0.81002, 1.30621, 1.80617, 2.2996, 2.80049, 3...",0,1,"[0.56254, 0.81002, 1.05749, 1.30621, 1.55494, ...",119.293,4
4,209.60608,0.604501,SOFSOCN12A8C143F5D,2007,Face the Ashes,TRAAAFD128F92F423A,"[1.06368, 2.91491, 4.76729, 6.61852, 8.46978, ...","[0.13576, 0.59914, 1.06368, 1.52591, 1.99045, ...",2,1,"[0.13576, 0.36918, 0.59914, 0.83141, 1.06368, ...",129.738,4

In [29]:
data = artist_df.merge(all_song_df, on='song_id')

In [30]:
len(data)

10000

In [31]:
data.head()

,artist_familiarty,artist_hotness,artist_id,artist_latitude,artist_location,artist_longitude,artist_names,song_id,song_durations,song_hotness,song_release_years,song_titles,track_id,song_bars,song_beats,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures
0,0.581794,0.401998,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,SOMZWCG12A8C13C480,218.93179,0.602120,0,I Didn't Mean To,TRAAAAW128F429D538,"[0.58521, 2.94247, 5.14371, 7.74554, 10.36149,...","[0.58521, 1.19196, 1.78893, 2.37813, 2.94247, ...",1,0,"[0.28519, 0.58521, 0.89422, 1.19196, 1.49119, ...",92.198,4
1,0.630630,0.417500,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,SOCIWDW12A8C13D406,148.03546,NaN,1969,Soul Deep,TRAAABD128F429CF47,"[0.71054, 2.71502, 4.70861, 6.69288, 8.66941, ...","[0.20627, 0.71054, 1.21836, 1.71841, 2.21729, ...",6,0,"[0.20627, 0.45904, 0.71054, 0.96834, 1.21836, ...",121.274,4
2,0.487357,0.343428,ARKRRTF1187B9984DA,NaN,,NaN,Sonora Santanera,SOXVLOJ12AB0189215,177.47546,NaN,0,Amor De Cabaret,TRAAADZ128F9348C2E,"[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....","[0.73152, 1.39732, 2.04852, 2.68691, 3.315, 3....",8,1,"[0.42132, 0.73152, 1.06609, 1.39732, 1.72854, ...",100.070,1
3,0.630382,0.454231,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,SONHOTT12A8C13493C,233.40363,NaN,1982,Something Girls,TRAAAEF128F4273421,"[1.30621, 3.29887, 5.30252, 7.32327, 9.33775, ...","[0.81002, 1.30621, 1.80617, 2.2996, 2.80049, 3...",0,1,"[0.56254, 0.81002, 1.05749, 1.30621, 1.55494, ...",119.293,4
4,0.651046,0.401724,ARXR32B1187FB57099,NaN,,NaN,Gob,SOFSOCN12A8C143F5D,209.60608,0.604501,2007,Face the Ashes,TRAAAFD128F92F423A,"[1.06368, 2.91491, 4.76729, 6.61852, 8.46978, ...","[0.13576, 0.59914, 1.06368, 1.52591, 1.99045, ...",2,1,"[0.13576, 0.36918, 0.59914, 0.83141, 1.06368, ...",129.738,4

In [32]:
data.to_csv('hdf5.csv', sep=',')

## genre data

In [33]:
genres = pd.read_table('http://www.ifs.tuwien.ac.at/mir/msd/partitions/msd-MAGD-genreAssignment.cls',sep='\t', header=None)

In [34]:
genres.head()

                    0         1
0  TRAAAAK128F9318786  Pop_Rock
1  TRAAAAV128F421A322  Pop_Rock
2  TRAAAAW128F429D538       Rap
3  TRAAABD128F429CF47  Pop_Rock
4  TRAAACV128F423E09E  Pop_Rock

In [35]:
len(genres)

422714

In [36]:
genres.columns=['track_id','genre_id']

In [37]:
genres.head()

             track_id  genre_id
0  TRAAAAK128F9318786  Pop_Rock
1  TRAAAAV128F421A322  Pop_Rock
2  TRAAAAW128F429D538       Rap
3  TRAAABD128F429CF47  Pop_Rock
4  TRAAACV128F423E09E  Pop_Rock

In [38]:
data_w_genre = data.merge(genres,on='track_id')

In [39]:
len(data_w_genre)

4011

In [40]:
data_w_genre.head()

,artist_familiarty,artist_hotness,artist_id,artist_latitude,artist_location,artist_longitude,artist_names,song_id,song_durations,song_hotness,...,song_titles,track_id,song_bars,song_beats,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures,genre_id
0,0.581794,0.401998,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,SOMZWCG12A8C13C480,218.93179,0.602120,...,I Didn't Mean To,TRAAAAW128F429D538,"[0.58521, 2.94247, 5.14371, 7.74554, 10.36149,...","[0.58521, 1.19196, 1.78893, 2.37813, 2.94247, ...",1,0,"[0.28519, 0.58521, 0.89422, 1.19196, 1.49119, ...",92.198,4,Rap
1,0.630630,0.417500,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,SOCIWDW12A8C13D406,148.03546,NaN,...,Soul Deep,TRAAABD128F429CF47,"[0.71054, 2.71502, 4.70861, 6.69288, 8.66941, ...","[0.20627, 0.71054, 1.21836, 1.71841, 2.21729, ...",6,0,"[0.20627, 0.45904, 0.71054, 0.96834, 1.21836, ...",121.274,4,Pop_Rock
2,0.630382,0.454231,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,SONHOTT12A8C13493C,233.40363,NaN,...,Something Girls,TRAAAEF128F4273421,"[1.30621, 3.29887, 5.30252, 7.32327, 9.33775, ...","[0.81002, 1.30621, 1.80617, 2.2996, 2.80049, 3...",0,1,"[0.56254, 0.81002, 1.05749, 1.30621, 1.55494, ...",119.293,4,Pop_Rock
3,0.651046,0.401724,ARXR32B1187FB57099,NaN,,NaN,Gob,SOFSOCN12A8C143F5D,209.60608,0.604501,...,Face the Ashes,TRAAAFD128F92F423A,"[1.06368, 2.91491, 4.76729, 6.61852, 8.46978, ...","[0.13576, 0.59914, 1.06368, 1.52591, 1.99045, ...",2,1,"[0.13576, 0.36918, 0.59914, 0.83141, 1.06368, ...",129.738,4,Pop_Rock
4,0.535293,0.385471,ARKFYS91187B98E58F,NaN,,NaN,Jeff And Sheri Easter,SOYMRWW12A6D4FAB14,267.70240,NaN,...,The Moon And I (Ordinary Day Album Version),TRAAAMO128F1481E7F,"[1.17118, 2.44699, 3.76552, 5.07403, 6.38454, ...","[0.74856, 1.17118, 1.59278, 2.0154, 2.44699, 2...",5,1,"[0.53929, 0.74856, 0.95987, 1.17118, 1.38249, ...",147.782,3,Religious

In [41]:
data_w_genre.to_csv('data_w_genre', sep=',')

## other genre data

In [43]:
genres_other = pd.read_table('/Users/juliaengel-dagher/Downloads/msd_tagtraum_cd2c.txt',sep='\t',header=None)

In [44]:
genres_other.head()

                    0      1
0  TRAAAAK128F9318786   Rock
1  TRAAAAW128F429D538    Rap
2  TRAAADJ128F4287B47   Rock
3  TRAAADZ128F9348C2E  Latin
4  TRAAAED128E0783FAB   Jazz

In [45]:
genres_other.columns=['track_id','genre_id']

In [46]:
genres_other.head()

             track_id genre_id
0  TRAAAAK128F9318786     Rock
1  TRAAAAW128F429D538      Rap
2  TRAAADJ128F4287B47     Rock
3  TRAAADZ128F9348C2E    Latin
4  TRAAAED128E0783FAB     Jazz

In [47]:
len(genres_other)

191401

In [48]:
data_w_genre2 = data.merge(genres_other,on='track_id')

In [49]:
len(data_w_genre2)

2250

It's even worse - not going to use it!

## user interaction data

In [50]:
user_behavior = pd.read_table('/Users/juliaengel-dagher/Downloads/train_triplets.txt', sep='\t', names =['user_id','song_ids','play_count'])

In [51]:
user_behavior.head()

                                    user_id            song_ids  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [52]:
len(user_behavior)

48373586

In [53]:
funcs = {'play_count':['sum'], 'user_id':['count']}

In [54]:
behavior_df = user_behavior.groupby('song_ids').agg(funcs)

In [55]:
behavior_df.head()

                   play_count user_id
                          sum   count
song_ids
SOAAADD12AB018A9DD         24      14
SOAAADE12A6D4F80CC         12       9
SOAAADF12A8C13DF62          9       6
SOAAADZ12A8C1334FB         12       8
SOAAAFI12A6D4F9C66        188      57

In [56]:
behavior_df.to_csv('behavior_in_progress.csv', sep=',')

In [57]:
behavior_df= pd.read_csv('/Users/juliaengel-dagher/Downloads/behavior_in_progress.csv', sep=',')

In [58]:
behavior_df.head()

              song_id  play_count_sum  user_id_count
0  SOAAADD12AB018A9DD              24             14
1  SOAAADE12A6D4F80CC              12              9
2  SOAAADF12A8C13DF62               9              6
3  SOAAADZ12A8C1334FB              12              8
4  SOAAAFI12A6D4F9C66             188             57

In [59]:
len(behavior_df)

384546

In [60]:
behavior_df.to_csv('behavior.csv', sep=',')

Merge on song id

In [61]:
data_w_behavior = data.merge(behavior_df,on='song_id')

In [62]:
len(data_w_behavior)

3675

In [63]:
data_w_behavior.to_csv('data_w_behavior.csv', sep=',')

Merge on track id

In [65]:
song_to_track = pd.read_table('/Users/juliaengel-dagher/Downloads/taste_profile_song_to_tracks.txt', sep='\t', names =['song_id','track_id'])

In [66]:
song_to_track.head()

              song_id            track_id
0  SOAAADD12AB018A9DD  TRNCENP12903C9EF3A
1  SOAAADE12A6D4F80CC  TRSKKFK128F148B615
2  SOAAADF12A8C13DF62  TRCQMSP128F428A6F7
3  SOAAADZ12A8C1334FB  TRMDNZY128F425A532
4  SOAAAFI12A6D4F9C66  TRZEXLQ128F1491D17

In [67]:
len(song_to_track)

386213

In [68]:
behavior_w_track = behavior_df.merge(song_to_track,on='song_id')

In [69]:
len(behavior_w_track)

384546

In [70]:
behavior_w_track.head()

              song_id  play_count_sum  user_id_count            track_id
0  SOAAADD12AB018A9DD              24             14  TRNCENP12903C9EF3A
1  SOAAADE12A6D4F80CC              12              9  TRSKKFK128F148B615
2  SOAAADF12A8C13DF62               9              6  TRCQMSP128F428A6F7
3  SOAAADZ12A8C1334FB              12              8  TRMDNZY128F425A532
4  SOAAAFI12A6D4F9C66             188             57  TRZEXLQ128F1491D17

In [71]:
data2 = behavior_w_track.merge(data,on='track_id')

In [72]:
len(data2)

3626

In [73]:
data2.to_csv('hdf5_w_behavior.csv', sep=',')

In [74]:
data2.head()

,song_id_x,play_count_sum,user_id_count,track_id,artist_familiarty,artist_hotness,artist_id,artist_latitude,artist_location,artist_longitude,...,song_hotness,song_release_years,song_titles,song_bars,song_beats,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures
0,SOAAAQN12AB01856D3,217,102,TRATLOJ128F9308ABB,0.556751,0.361588,ARAMIDF1187FB3D8D4,NaN,,NaN,...,0.427447,0,Campeones De La Vida,"[1.16135, 3.15336, 5.06933, 7.05593, 9.04751, ...","[0.16268, 0.66202, 1.16135, 1.66068, 2.16002, ...",4,0,"[0.16268, 0.41235, 0.66202, 0.91168, 1.16135, ...",120.051,4
1,SOAAEHR12A6D4FB060,957,554,TRAYPFH128E07937C3,0.806359,0.545789,AR5N8VN1187FB37A4E,47.60356,Seattle,-122.32944,...,0.654068,1991,Slaves & Bulldozers,"[0.85125, 2.69826, 4.53846, 6.3912, 8.26852, 1...","[0.38873, 0.85125, 1.31301, 1.77477, 2.23729, ...",0,1,"[0.15689, 0.38873, 0.62056, 0.85125, 1.08156, ...",131.272,4
2,SOAAFUV12AB018831D,10,6,TRAMPCN12903CC4E5B,0.623502,0.422380,AR5ZGC11187FB417A3,37.27188,California,-119.27023,...,NaN,0,Where Do The Children Play? (LP Version),"[0.72088, 2.49211, 4.094, 5.69368, 7.30208, 8....","[0.24835, 0.72088, 1.19209, 1.66199, 2.08938, ...",2,1,"[0.24835, 0.48462, 0.72088, 0.95715, 1.19209, ...",149.169,4
3,SOAANKE12A8C13CF5C,5,4,TRBDLDS128F429C171,0.705492,0.393457,ARB0WNP1187B9AC4AB,NaN,,NaN,...,0.430161,2005,Sam und Bo_ N.E.O.,"[2.30803, 4.88286, 7.51189, 10.14411, 12.77098...","[0.20947, 0.73418, 1.25885, 1.78395, 2.30803, ...",11,0,"[0.03457, 0.20947, 0.38437, 0.55928, 0.73418, ...",114.072,5
4,SOAASSD12AB0181AA6,188,56,TRAQHPK128F92E339B,0.437635,0.361340,ARKXLIJ1187B9A4C54,NaN,,NaN,...,NaN,0,Song From Moulin Rouge,"[0.5022, 2.49447, 4.50944, 6.31851, 7.82062, 9...","[0.5022, 1.16575, 1.82606, 2.49447, 3.16288, 3...",7,1,"[0.17124, 0.5022, 0.83803, 1.16575, 1.49834, 1...",91.765,3

## user interaction with genre

In [75]:
behavior_w_genre=behavior_w_track.merge(genres,on='track_id')

In [76]:
len(behavior_w_genre)

193840

In [77]:
behavior_w_genre.head()

,song_id,play_count_sum,user_id_count,track_id,genre_id
0,SOAAADD12AB018A9DD,24,14,TRNCENP12903C9EF3A,Avant_Garde
1,SOAAADZ12A8C1334FB,12,8,TRMDNZY128F425A532,Jazz
2,SOAAAGP12A6D4F7D1C,8,4,TRDWEPA128F145FE05,Pop_Rock
3,SOAAAKE12A8C1397E9,1,1,TRZJXIZ128F42942DE,Country
4,SOAAAMT12AB018C9C4,114,58,TRYIOYF12903CD4E73,Pop_Rock

In [78]:
behavior_w_genre.to_csv('behavior_w_genre.csv',sep=',')

## User interaction with genre and song metadata

In [79]:
ultimate_mini_data = behavior_w_genre.merge(data, on ='track_id')

In [80]:
len(ultimate_mini_data)

1760

In [81]:
ultimate_mini_data.head()

,song_id_x,play_count_sum,user_id_count,track_id,genre_id,artist_familiarty,artist_hotness,artist_id,artist_latitude,artist_location,...,song_hotness,song_release_years,song_titles,song_bars,song_beats,song_keys,song_modes,song_tatum,song_tempo,song_time_signatures
0,SOAAEHR12A6D4FB060,957,554,TRAYPFH128E07937C3,Pop_Rock,0.806359,0.545789,AR5N8VN1187FB37A4E,47.60356,Seattle,...,0.654068,1991,Slaves & Bulldozers,"[0.85125, 2.69826, 4.53846, 6.3912, 8.26852, 1...","[0.38873, 0.85125, 1.31301, 1.77477, 2.23729, ...",0,1,"[0.15689, 0.38873, 0.62056, 0.85125, 1.08156, ...",131.272,4
1,SOAAFUV12AB018831D,10,6,TRAMPCN12903CC4E5B,Reggae,0.623502,0.422380,AR5ZGC11187FB417A3,37.27188,California,...,NaN,0,Where Do The Children Play? (LP Version),"[0.72088, 2.49211, 4.094, 5.69368, 7.30208, 8....","[0.24835, 0.72088, 1.19209, 1.66199, 2.08938, ...",2,1,"[0.24835, 0.48462, 0.72088, 0.95715, 1.19209, ...",149.169,4
2,SOABLAF12AB018E1D9,1980,748,TRABUMO12903CBE25F,Pop_Rock,0.796337,0.582922,ARSW5F51187FB4CFC9,NaN,"Seattle, WA",...,0.824433,2009,Lesson Learned,"[0.92741, 3.15716, 5.38085, 7.60259, 9.82366, ...","[0.3692, 0.92741, 1.48952, 2.04734, 2.60365, 3...",10,0,"[0.0894, 0.3692, 0.649, 0.92741, 1.20707, 1.48...",107.845,4
3,SOABVPU12AB018AA22,1,1,TRAYPXP12903CD8D45,Reggae,0.583443,0.385788,ARZZRK91187B9A5CA5,18.01571,"Kingston, Jamaica",...,0.299877,2009,Conquer Me,"[1.08342, 2.62899, 4.18827, 5.75054, 7.32173, ...","[0.28773, 0.69392, 1.08342, 1.46969, 1.85114, ...",8,1,"[0.08562, 0.28773, 0.49082, 0.69392, 0.898, 1....",151.498,4
4,SOACEDS12A6701EAAA,230,80,TRASNOT128E0791785,Pop_Rock,0.712745,0.470700,ARP96FM1187B9AEA77,44.97903,"Minneapolis, MN",...,0.612055,1998,Gone To The Movies,"[0.67473, 3.1441, 5.58583, 8.0254, 10.47344, 1...","[0.67473, 1.29676, 1.91538, 2.53247, 3.1441, 3...",0,1,"[0.36436, 0.67473, 0.98823, 1.29676, 1.6053, 1...",97.995,4

In [82]:
ultimate_mini_data2 = data2.merge(genres, on ='track_id')

In [83]:
len(ultimate_mini_data2)

1760

In [84]:
ultimate_mini_data.to_csv('ultimate_mini.csv',sep=',')

same as before ... with merges this is the biggest subset I can create without AWS